<!DOCTYPE html>
<html>
    <head>
        <title>Confetti Cuisine</title>
        <link rel = "stylesheet" href="/css/confetti_cuisine.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    </head>
    <body>
        <div id = "nav">
            <div class="col-sm nav-align">
                <h1> Confetti Cuisine</h1>
            </div>
            <div  class="col-sm nav-align">
                <a href="/">
                    <span class="button">Home</span>
                </a>
                <a href="/courses">
                    <span class="button">Courses</span>
                </a>
                <a href="/contact">
                    <span class="button">Contact</span>
                </a>
                <a href="/users/new">
                    <span class="button">Users</span>
                </a>
            </div>

        </div>
        <div class="flashes">
            <% if(flashMessages){%>
                <% if(flashMessages.success){%>
                    <div class="flash success">
                        <%= flashMessages.success %>

                    </div>
                <% } else if (flashMessages.error){%>
                    <div class = "flash error">
                        <%= flashMessages.error%>
                    </div>
                <%}%>
            <%}%>
        </div>
        <div class="container">
        <%- body%>
        </div>
    </body>
</html>